extends layouts/main

block content
    .video-detail__container
        .video
            video(src=`/${video.fileUrl}` , controls=true)
        .video__info
            if loggedUser
                if video.creator.id === loggedUser.id
                    a(href=routes.editVideo(video.id)) 
                        button Edit video
            h5.video__title=video.title
            .video__author
                a(href=routes.userDetail(video.creator.id))=video.creator.name
            p.video__description=video.description
            if video.views === 1
                span.video__views 1 view
            else
                span.video__views #{video.views} views
            hr
        .video__comments
            if video.comments.lengt === 1
                span.video__comment-number 1 comment
            else
                span.video__comment-number #{video.comments.length} comments
            form.add_comment#jsAddComment
                input(type="text", placeholder="Add a comment", name = "comment")
            ul.video__comments-list
                each comment in video.comments
                    li
                        img.c-avartar(src=comment.author__profile)
                        span.comment__creator=comment.author
                        span.comment__text=comment.text
        